{% extends "base.html" %} 

{% block title %}
<title>About - Taskmate</title>
{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="display-4">{{ welcome_text }}</h1>
    <p class="lead">TaskMate is a simple web application for managing your to-do list. It allows you to add, edit and delete tasks, as well as mark tasks as completed.</p>
    <p class="text-muted">TaskMate is built using the Django web framework and is available under the MIT license.</p>
    <p class="text-muted">TaskMate is a project by <a href="https://github.com/omar-elhorbity" target="_blank">Omar Elhorbity</a>.</p>
</div>
{% endblock content %}

